#torus-tab--2 {display: none;}

#torus-sidebar li.torus-option-group {
	padding: .1em .5em;
	background-color: #99f;
	cursor: pointer;
	font-size: larger;
}
#torus-sidebar li.torus-option-group:hover {
	background-color: #def;
}
#torus-sidebar li.torus-option-group-selected,
#torus-sidebar li.torus-option-group-selected:hover {
	background-color: #fff;
}

#torus-window textarea.torus-option-text {
	resize: vertical;
	width: 100%;
	display: block;
}
#torus-window input.torus-option-boolean {
	vertical-align: top;
	margin: 0;
}
