/*** default theme ***/

table#torus-preview-default.torus-theme-preview .bg1, #torus.theme-default .bg1 {background-color: #66f;}
table#torus-preview-default.torus-theme-preview .bg2, #torus.theme-default .bg2 {background-color: #99f;}
table#torus-preview-default.torus-theme-preview .bg3, #torus.theme-default .bg3 {background-color: #ccf;}
table#torus-preview-default.torus-theme-preview .bg4, #torus.theme-default .bg4 {background-color: #def;}
table#torus-preview-default.torus-theme-preview .bg5, #torus.theme-default .bg5 {background-color: #fff;}
table#torus-preview-default.torus-theme-preview .border1, #torus.theme-default .border1 {border-color: #000;}
table#torus-preview-default.torus-theme-preview .border2, #torus.theme-default .border2 {border-color: #999;}
table#torus-preview-default.torus-theme-preview .border3, #torus.theme-default .border3 {border-color: #ccc;}
table#torus-preview-default.torus-theme-preview .text1, #torus.theme-default .text1 {color: #000;}
table#torus-preview-default.torus-theme-preview .text2, #torus.theme-default .text2 {color: #03c;}
table#torus-preview-default.torus-theme-preview .text3, #torus.theme-default .text3 {color: #666;}
table#torus-preview-default.torus-theme-preview .text4, #torus.theme-default .text4 {color: #f00;}

#torus.theme-default {
	color: #000;
	border: 1px solid #000;
}
#torus.theme-default a {color: #03c;}
#torus.theme-default a:visited {color: #909;}

#torus.theme-default #torus-tabs {
	background-color: #66f;
}
#torus.theme-default #torus-tabs span.torus-tab {
	background-color: #99f;
	border: 1px solid #ccc;
}
#torus.theme-default #torus-tabs span.torus-tab-viewing,
#torus.theme-default #torus-tabs span.torus-tab:hover {
	background-color: #def;
}
#torus.theme-default #torus-tabs span.torus-tab-active,
#torus.theme-default #torus-tabs span.torus-tab-active:hover {
	background-color: #fff;
}
#torus.theme-default #torus-tabs span.torus-tab-alert {color: #909;}
#torus.theme-default #torus-tabs span.torus-tab-message {color: #ff0;}
#torus.theme-default #torus-tabs span.torus-tab-ping {color: #f00;}
#torus.theme-default #torus-tabs span.torus-tab-close {color: #000;}
#torus.theme-default #torus-tabs span.torus-tab-close:hover {color: #f00;}

#torus.theme-default #torus-info {
	background-color: #dde;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}

#torus.theme-default #torus-window {
	background-color: #ccf;
	border-top: 1px solid #000;
	border-right: 1px solid #000;
}
#torus.theme-default #torus-window div.torus-message-inactive {color: #666;}
#torus.theme-default #torus-window div.torus-message-ping {color: #f00;}

#torus.theme-default #torus-sidebar {
	background-color: #66f;
	border-top: 1px solid #000;
}
#torus.theme-default #torus-sidebar span.torus-user-away {color: #666;}
#torus.theme-default #torus-sidebar li.torus-sidebar-button {background-color: #99f;}
#torus.theme-default #torus-sidebar li.torus-sidebar-button:hover {background-color: #def;}
#torus.theme-default #torus-sidebar li.torus-sidebar-button-selected,
#torus.theme-default #torus-sidebar li.torus-sidebar-button-selected:hover {background-color: #fff;}

#torus.theme-default #torus-popup {
	background-color: #66f;
	border: 1px solid #000;
}
#torus.theme-default #torus-popup-avatar {
	border: 1px solid #ccc;
}
#torus.theme-default #torus-popup-name,
#torus.theme-default #torus-popup-name a {
	color: #000;
}
#torus.theme-default #torus-popup a.torus-popup-userlink,
#torus.theme-default #torus-popup a.torus-popup-action,
#torus.theme-default #torus-popup a.torus-popup-action-disabled {
	border-top-color: #ccc;
	border-bottom-color: #ccc;
	background-color: #99f;
}
#torus.theme-default #torus-popup a.torus-popup-userlink:hover,
#torus.theme-default #torus-popup a.torus-popup-action:hover {
	background-color: #def;
}
#torus.theme-default #torus-popup a.torus-popup-action-disabled,
#torus.theme-default #torus-popup a.torus-popup-action-disabled:hover {
	background-color: #ddd;
	color: #999;
}
#torus.theme-default #torus-popup-modconfirm,
#torus.theme-default #torus-popup-banmodal {
	background-color: #66f;
	border: 1px solid #000;
	border-right: 1px solid #666;
	color: #000;
}

#torus.theme-default #torus-input {
	background-color: #66f;
	border-top: 1px solid #000;
}
#torus.theme-default #torus-input-box {
	background-color: #fff;
	color: #000;
}

#torus.theme-default #torus-menu-extensions a {
	background-color: #99f;
}
#torus.theme-default #torus-menu-extensions a:hover {
	background-color: #def;
}
#torus.theme-default #torus-window fieldset {border: 1px solid #66f;}
#torus.theme-default #torus-window textarea,
#torus.theme-default #torus-window input[type="text"],
#torus.theme-default #torus-window input[type="number"] {
	background-color: #fff;
	color: #000;
}
