#torus-menu-name {
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 4em;
	text-align: center;
}
#torus-menu-links {
	margin-bottom: 2em;
	font-size: 1.5em;
	text-align: center;
}

#torus-menu-extensions a {
	display: block;
	padding: .5em 0;
	margin-bottom: 5px;
	background-color: #99f;
	cursor: pointer;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}
#torus-menu-extensions a:hover {
	background-color: #def;
}
