#torus-menu-name {
	margin-top: 1em;
	margin-bottom: .5em;
	font-size: 4em;
	text-align: center;
}
#torus-menu-links {
	margin-bottom: 2em;
	font-size: 1.5em;
	text-align: center;
}

#torus-menu-extensions a {
	display: block;
	padding: .5em 0;
	margin-bottom: 5px;
	background-color: #99f;
	cursor: pointer;
	font-size: 2em;
	text-align: center;
	text-decoration: none;
}
#torus-menu-extensions a:hover {
	background-color: #def;
}

#torus-themes-table {
	border-spacing: 0;
	text-align: center;
}
#torus-themes-table > tr > td {
	padding: 1em 0;
	border-bottom: 1px solid #999;
}
#torus-themes-table > tr:last-child > td {border-bottom: 0;}
#torus-themes-table > tr > td:first-child {width: 30%;}
#torus-themes-table > tr > td:last-child {width: 70%;}
#torus-themes-table label.torus-theme-label {font-size: 150%;}
#torus-themes-table table.torus-theme-preview {border-spacing: 0;}
#torus-themes-table table.torus-theme-preview td {
	border-left-width: 0;
	min-width: 12em;
}
#torus-themes-table table.torus-theme-preview td:first-child {border-left-width: 1px;} /* FIXME: */

#torus-window fieldset {border: 1px solid #66f;}
#torus-window fieldset legend {font-size: 1.5em;}
#torus-window textarea {
	resize: vertical;
	width: 100%;
	display: block;
}
#torus-window input[type="checkbox"] {
	vertical-align: bottom;
	margin: 0;
}
